<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wanggang.alibaba.dao.AccountDao">

    <resultMap id="baseResultMap" type="com.wanggang.alibaba.entity.Account">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="total" property="total" jdbcType="DECIMAL" />
        <result column="used" property="used" jdbcType="DECIMAL" />
        <result column="residue" property="residue" jdbcType="DECIMAL" />
    </resultMap>
    
    <select id="getAccountInfoById" parameterType="long" resultMap="baseResultMap" >
        select * from t_account where  id = #{id};
    </select>

    <insert id="createAccount">
        insert t_account (
            user_id,total,used,residue
        ) values (
            #{user_id},#{total},#{used},#{residue}
        )
    </insert>

    <update id="updateAccountPrice">
        update t_account set total = #{total},used = #{used},residue = #{residue} where id = #{id};
    </update>
</mapper>